/* 
Neon Purple
Hex: #8A2BE2
RGB: rgb(138, 43, 226)

Electric Cyan
Hex: #00FFFF
RGB: rgb(0, 255, 255)

Midnight Black
Hex: #101820
RGB: rgb(16, 24, 32)

Chrome Silver
Hex: #C0C0C0
RGB: rgb(192, 192, 192)

Electric Yellow
Hex: #FFFF33
RGB: rgb(255, 255, 51)

Orange
Hex: #FF5F1F
RGB: rgb(255, 95, 31)
*/

@font-face{
    font-family: Audiowide;
    src:url(Audiowide-Regular.ttf);
    color: #C0C0C0;
}


@font-face{
    font-family: RussoOne;
    src:url(RussoOne-Regular.ttf);
    color: #C0C0C0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.top-bar {
    background-color: #101820;
    display: flex;
    height: 10vh;
    justify-content: space-between;
    border: 0.25vw solid #FF5F1F;
    overflow: hidden;

}


.dropdown button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #101820;
    font-family: 'RussoOne';
    color: #C0C0C0;
    border-right: 0.25vw solid #FF5F1F;
    border-bottom: 0.25vw solid #FF5F1F;
    cursor: pointer;
    width: 20vw;
    height: 10vh;
}

.dropdown a{
    display: flex;     
    justify-content: center;
    align-items: center;
    font-family: 'RussoOne';
    color: #C0C0C0;
    text-decoration: none;
    border-bottom: 0.25vw solid #FF5F1F;
    border-left: 0.25vw solid #FF5F1F;
    width: 100%;
    padding: 9.5vh;
    
}

.dropdown .content{
    display: none;
    color: #C0C0C0;
    background-color: #101820;
    position: absolute;
    width: 20vw;
    border: 0.25vw solid #FF5F1F;
    border-top: none;
    top: 10vh;
    box-sizing:content-box;
    left: -0.25vw;     
}

.dropdown:hover .content{
    display: block;
}


.LAB473 {
    font-family: 'Audiowide';
    display: flex;           
    justify-content: center;
    align-items: center;
    background-color: #8A2BE2;
    color: #C0C0C0;
    border: 0.4vh solid #C0C0C0;
    width: 10vw;
    height: 5vh;
    margin-top: 2.3vh;
    margin-right: 1vw;
}


/* Our background! */

body {
    background-image: url(back_v3.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;
    min-height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    /* overflow: hidden */
}



/* ???? */
.titles {
    color: azure;
    background-color: aqua;
    justify-content: center;
}



/* Project page */



.yellow-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10vw;
    align-items: center;
    height: 80vh;
    width: 100vw;
}

.yellow-container a{
    color: #C0C0C0;
    text-decoration: none;
    font-family: 'Audiowide';
    align-self: center;
}

.yellow-box {
    display: flex;
    flex-direction: column;           
    justify-content: flex-start;
    align-items: center;
    font-family: 'Audiowide';
    color: #C0C0C0;
    background-color: rgba(16, 24, 32, 0.85);
    border: 1vh solid yellow;
    margin: 10px 0;
    width: 20vw;
    height: 50vh;
}

/* Here goes login page styling */



.login-block{   
    display: flex;     
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
}

.fields{
    display: block;
    color: black;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.fields form{
    color: gray;
    background-color: orange;
    margin: 1vh;
}

.button {
    display: flex;
    color: orange;
    background-color: black;
    width: fill;
    height: fill;
    align-items: center;
}

.center-box {
    display: flex;     
    justify-content: center;
    align-items: center;
    background-color: #8A2BE2;
    border: 2px solid #C0C0C0;
}