<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LAB473</title>
    <link rel="stylesheet" href="/static/css/styles.css"
</head>
<!-- Everything on the page -->
<body>
    <!-- Header is our top bar menu -->
    <!-- Below header our body text, I have separated all page as login page. -->
    <div class="login-block">
        <!-- Login box and enter button-->
        <div class="center-box">
            <div class="login-field">
                <div class="fields">
                    <form>Login</form>
                    <form>Password</form>
                </div>
            </div>
        <div class="button">
            <button><h1>Enter</h1></button>
        </div>
    </div>
</body>
</html>
